<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>todoアプリ</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">

</head>

<body>
<div id="signup">
  <div class="container">
    <form class="col-lg-5" action="/signup" method="post">
      <div class="controls">
        <div class="form-group">
          <table>
            <tbody>
            <tr>
              <td class="text"><p>名前</p></td>
              <td class="form"><input class="form-control" name="name"></td>
            </tr>
            <%# <tr>
              <td class="text"><p>emailアドレス</p></td>
              <td class="form"><input class="form-control" name="email"></td>
            </tr> %>
            <tr>
              <td class="text"><p>パスワード</p></td>
              <td class="form"><input class="form-control" name="password" type="password"></td>
            </tr>
            <tr>
              <td class="text"><p>パスワードを再入力</p></td>
              <td class="form"><input class="form-control" name="password_confirmation" type="password"></td>
            </tr>
            </tbody>
          </table>
          <div class="form-button">
            <input class="form-submit-button" type="submit" value="サインアップ">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

</body>