<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>todoアプリ</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">

</head>

<body>
<div id="top">
  <div class="container">
    <div class="title">
      <h1>todo List</h1>
      <h2>feat. 乙女ゲーム</h2>
    </div>
    <div class="login-button">
      <a class="login" href="/sign_in">ログイン</a>
      <a class="login" href="/sign_up">新規登録</a>
    </div>
  </div>
</div>
</body>